<h1>Users List</h1> 
 
<div class="col-md-12" style="text-align:center">
  <table class="table table-bordered">
    <% for(var i=0; i < userList.length; i++) { %>
      <tr> 
        <td><%= i+1+(pageNumber-1)*10 %></td>
        <td><%= userList[i]['user_name'] %></td>
        <td><a href="users/delete/<%= userList[i]['id'] %>"><i class="fa fa-trash"></i></a></td>
        <td><a href="/users/edit/<%= userList[i]['id'] %>"><i class="fa fa-pencil"></i></a></td>
      </tr>
    <% } %>  
  </table>
</div>

<div class="col-md-12" style="text-align:center">
  <nav aria-label="Page navigation example">
    <ul class="pagination"> 
      <% for(var i=0; i < allPageCount; i++) { %>
        <% if(i+1==pageNumber){%>
          <li class="page-item active"><a class="page-link" href="/index/page/<%=i+1%>"><%=i+1%></a></li>
        <%}else{%>
          <li class="page-item"><a class="page-link" href="/index/page/<%=i+1%>"><%=i+1%></a></li>
        <%}%>
      <% } %> 
    </ul>
  </nav>
</div>
